*.egg-info
*.mo
*.pyc
*~
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings
.vscode/
bin/
develop-eggs/
dist/
downloads/
eggs/
include/
lib/
local.cfg
Makefile
parts/
src/collective.*
src/plone.*
var/
pyvenv.cfg
reports/
annotate.txt
