include *.rst
include *.sh
include *.txt
include tox.ini
include *.GPL
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include src *.css
recursive-include src *.js
recursive-include src *.md
recursive-include src *.png
recursive-include src *.po
recursive-include src *.pot
recursive-include src *.pt
recursive-include src *.py
recursive-include src *.robot
recursive-include src *.sh
recursive-include src *.xml
recursive-include src *.zcml
