[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]

# Added by buildout at 2022-01-15 12:56:33.496343
collective.recipe.vscode = 0.1.8
createcoverage = 1.5

# Required by:
# collective.glossary==1.0a1
PyICU = 2.8
