body.portaltype-glossary .letter
{
    float: left;

    width: 100%;
    margin-top: 1rem;
}
body.portaltype-glossary .letter .header
{
    float: left;

    width: 100%;

    border-bottom: 1px solid #ccc;
    background-color: #e6e6e6;
}
body.portaltype-glossary .letter .header .title
{
    font-size: 2.4em;
    font-weight: bold;

    float: left;

    padding: .6rem .3rem;

    color: #fff;
    background-color: #033b7a;
}
body.portaltype-glossary .letter .terms .term
{
    display: -webkit-box;
    display:    -moz-box;
    display:         box;
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:         flex;
    float: left;

    width: 100%;
    margin-top: .5rem;
}
body.portaltype-glossary .letter .terms .description-wrapper
{
    display: -webkit-box;
    display:    -moz-box;
    display:         box;
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:         flex;

    padding-left: .5rem;

    -webkit-box-flex: 1;
       -moz-box-flex: 1;
            box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
       -moz-box-align: center;
            box-align: center;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
            align-items: center;
    -ms-flex-align: center;
}
body.portaltype-glossary .letter .terms .title
{
    font-weight: bold;
}
#content .glossarizer_replaced
{
    display: inline;

    cursor: help;

    border-bottom: 1px #333 dotted;
}

/* letter filtering */

.letter-filtering {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}

.letter-filtering li {
    flex-grow: 1;
    margin: 3px;
}

.letter-filtering li a {
    background-color: #033b7a;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}
