/* Glossary */
body.portaltype-glossary .letter {
    float: left;

    width: 100%;
    margin: 1rem 0 1rem 0;
}

body.portaltype-glossary .letter .header {
    float: left;
    width: 100%;
    background-color: #70adce;
    margin-bottom: 1rem;
}

body.portaltype-glossary .letter .header .title {
    font-size: 2.4em;
    font-weight: bold;
    float: left;
    width: 5rem;
    text-align: center;
    color: #fff;
    background-color: #157bb1;
}

body.portaltype-glossary #content-core .letter .terms .term {
    display: flex;
    width: 100%;
    margin-top: .5rem;
    text-decoration: none;
    border-bottom: none;
    color: #333;
}

body.portaltype-glossary #content-core .letter .terms .term.private {
    color: red;
}

body.portaltype-glossary #content-core .letter .terms .term img {
    width: 5rem;
    height: fit-content;
    margin-right: .5rem;
}

body.portaltype-glossary .letter .terms .description-wrapper,
body.portaltype-glossary .letter .terms .description {
    display: block;
}

body.portaltype-glossary .letter .terms .title {
    font-weight: bold;
}

body.portaltype-glossary .letter .terms .definition>p {
    display: inline;
}


/* Tooltip */
abbr[title] {
    text-decoration: none;
}

#content .glossarizer_replaced {
    display: inline;
    cursor: help;
    border-bottom: 1px #333 dotted;
}


#tooltip {
    text-align: left;
    background-color: white;
    color: rgb(44, 44, 44);
    box-shadow: 0 3px 12px 0 rgba(153, 153, 153, 0.3);
    font-size: 90%;
    font-weight: normal;
}

#tooltip:after

/* triangle decoration */
    {
    border-top: 10px solid white;
}

#tooltip ol {
    padding-left: 2rem;
}