#tooltip
{
    position: absolute;
    z-index: 100;

    box-sizing: border-box;
    padding: 15px;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background: #000;
    background: rgba(0,0,0,.8);
}

@media only screen and (max-width: 800px)
{
    #tooltip:before
    {
        font-size: 12px;

        position: absolute;
        top: 3px;
        right: 8px;

        content: 'x';

        color: #fff;
    }
}

#tooltip:after /* triangle decoration */
{
    position: absolute;
    bottom: -10px;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -10px;

    content: '';

    border-top: 10px solid rgba(0,0,0,.8);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

#tooltip.top:after
{
    top: -20px;
    bottom: auto;

    border-top-color: transparent;
    border-bottom: 10px solid #111;
}


#tooltip.left:after
{
    left: 10px;

    margin: 0;
}

#tooltip.right:after
{
    right: 10px;
    left: auto;

    margin: 0;
}
